:root {
    --luz-fondo-blanco: #fff;
    --color-texto: #000;
    --bg: #fff;
    --gris: #e6e6e6;
    --gris-claro: #a03c28ff;
    --size: 300px;
}

body {
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    .grid {
        display: grid;
        grid-template-columns: 20% 80%;
        background-color: #a3d9eaff;
        background: #59ddf7;
        background: linear-gradient(335deg, rgba(89, 221, 247, 1) 31%, rgba(255, 251, 0, 0.979) 87%);


        &::after {
            background-image: url(../img/bg.svg);
            background-repeat: repeat-x;
            background-position: center bottom;
            filter: blur(3px);
            // background-color: #fff;
            opacity: .7;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            z-index: 0;
        }


        .col_1,
        .col_2 {
            display: flex;
            height: 100vh;
            align-items: center;
            flex-direction: column;
            align-content: stretch;
            justify-content: center;

        }

        .col_1 {
            position: relative;
            overflow: hidden;
            z-index: 7;



            .contentTextt {
                position: relative;
                z-index: 1;
                background-color: #fff;
                padding: 12px;
                margin: 12px;
                border-radius: 15px;
                box-shadow: 0 2px 7px rgba(0, 0, 0, .164);
                text-align: center;

                h1 {
                    font-size: 30px;
                }

            }
        }


        .col_2 {
            display: flex;
            flex-direction: column;
            position: relative;

            .plantas {
                position: absolute;
                z-index: 5;
                width: 100%;
                height: 120px;
                display: block;
                background-image: url(../img/plantas.svg);
                background-repeat: repeat-x;
                bottom: 5%;

            }

            .gallina1,
            .gallina2,
            .gallina3,
            .arbol {
                position: absolute;
                z-index: 5;
                bottom: 2%;
                left: 2%;
                width: 170px;
                height: auto;
            }

            .gallina2 {
                left: inherit;
                right: 7%;
                bottom: 12%;
                width: 120px;
            }

            .gallina3 {
                left: inherit;
                right: 12%;
                bottom: 0%;
                width: 190px;
            }
            .arbol {
                left: -7%;
                bottom: 20%;
                width: 490px;
                z-index: 2;
                filter: blur(2px);
            }
        }

    }

    input[type="number"] {
        text-align: center;
    }



    input[type="number"]:focus-visible::-webkit-textfield-decoration-container {
        background-color: #fdffe8;
    }

    input[type="number"]::-webkit-input-placeholder {
        color: #979797;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        appearance: textfield;
    }


#btnPausa{
    background-color: #000;
    color: yellow;
    border-radius: 12px;
    font-size: 19px;
    padding: 12px;
    font-weight: bold;

    &:hover{
        background-color: yellow;
        color: #000;
        cursor: pointer;
    }
    &:disabled{
        background-color: #979797;
        color: #c5c5c5;

    }
}


    //////////////
    .pausa {
        #numero_pausa {
            font-size: 45px;
            width: 80px;
        }

        .contador {
            position: absolute;
            top: 12px;
            border: #ccc;
            border-radius: 8px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.315);
            // left: 50%;
            // transform: translate(-50%, -50%);
            display: block;
            z-index: 6;
            background-color: red;
            width: auto;
            padding: 8px 30px;
            font-size: 88px;
            font-weight: bold;
            color: yellow;
            min-width: 310px;
            text-align: center;

            &::after {
                content: "";
                width: 12px;
                height: 12px;
                display: block;
                background-color: #aa0000;
                position: absolute;
                z-index: 3;
                top: -12px;
                left: 20%;
            }

            &::before {
                content: "";
                width: 12px;
                height: 12px;
                display: block;
                background-color: #aa0000;
                position: absolute;
                z-index: 3;
                top: -12px;
                left: 75%;
            }
        }


        .content_pajaro {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: var(--size);
            height: var(--size);
            position: relative;
            bottom: -20%;
            z-index: 3;

            &::after {
                content: "";
                background-image: url(../img/casa.svg);
                width: calc(var(--size) * 2.4);
                height: calc(var(--size) * 2.4);
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                bottom: -121px;
                left: 50%;
                transform: translate(-50%, 0%);

            }

            .dibujo {
                border: 0px solid #ffffff;
                // border-radius: 100%;
                position: relative;
                overflow: hidden;
                width: var(--size);
                box-shadow: 0 9px 15px rgba(0, 0, 0, 0.062);
                height: var(--size);

                &::after {
                    content: "";
                    box-shadow: 1px 20px 83px 20px rgb(0 0 0 / 54%) inset;
                    position: absolute;
                    width: var(--size);
                    height: var(--size);
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;

                }

                .contentDibujo {

                    width: var(--size);
                    height: var(--size);
                    display: table;
                    position: relative;
                    z-index: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);



                    #contentDibujo {
                        background-color: var(--gris-claro);
                        position: absolute;
                        width: var(--size);
                        height: var(--size);
                        display: table;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                        background-image: url(../img/bgPausa.svg);
                        background-position: bottom;
                        background-repeat: repeat-x;

                    }
                }

                .hielo {
                    position: absolute;
                    left: 57%;
                    bottom: 27px;
                    width: calc(14.1px);
                    height: calc(24px);
                    z-index: 4;
                    margin-left: 24px;
                }

                .mascaraAgua {
                    width: calc(33.9px * 2);
                    display: block;
                    position: absolute;
                    left: 57%;
                    bottom: 10px;
                    overflow: hidden;
                    transition: all 1s ease-in;
                    margin-left: 13px;

                    .agua {
                        width: calc(33.9px);
                        height: 51px;
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: 0px;
                        z-index: 3;
                        background-image: url(../img/agua.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }

                .vaso {
                    position: absolute;
                    left: 57%;
                    bottom: 10px;
                    width: calc(47px);
                    height: calc(114.5px);
                    z-index: 2;
                }
            }

        }

        .contentPausa {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}